
/*
	Author: Lorenz Pullwitt <memorysurfer@lorenz-pullwitt.de>
	Copyright 2016-2022

	This file is part of MemorySurfer.

	MemorySurfer is free software; you can redistribute it and/or
	modify it under the terms of the GNU General Public License
	as published by the Free Software Foundation; either version 2
	of the License, or (at your option) any later version.

	This program is distributed in the hope that it will be useful,
	but WITHOUT ANY WARRANTY; without even the implied warranty of
	MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
	GNU General Public License for more details.

	You should have received a copy of the GNU General Public License
	along with this program; if not, you can find it here:
	https://www.gnu.org/licenses/old-licenses/gpl-2.0.html
*/

body {
	width: 100%;
	max-width: 80ex;
	margin: 0 auto 0 auto;
	overflow-y: scroll;
}

h1.msf {
	margin: 0;
	padding: 0;
	font-size: inherit;
	font-weight: bolder;
}

textarea.msf {
	width: 98%;
	padding: 0;
	margin: 0 auto 0 auto;
}

div.qa-html {
	width: 98%;
	padding: 0.5ex 0.2ex 0.5ex 0.2ex;
	margin: 0.3ex auto 0.3ex auto;
	border-width: 1px;
	border-style: solid;
	border-radius: 0.3ex;
	border-color: rgba(0, 0, 0, .25);
	min-height: 2.5em;
}

div.qa-txt {
	width: 98%;
	padding: 0.5ex 0.2ex 0.5ex 0.2ex;
	margin: 0.3ex auto 0.3ex auto;
	border-width: 1px;
	border-style: solid;
	border-radius: 0.3ex;
	border-color: rgba(0, 0, 0, .25);
	min-height: 2.5em;
	font-family: monospace;
	white-space: pre-wrap;
	overflow-wrap: break-word;
}

ul.msf {
	list-style-type: none;
	margin: 0 0 0 2ex;
	padding: 0;
}

td.msf-lvl {
	min-width: 19ex;
}

td.msf-strength {
	min-width: auto;
}

button.msf {
	padding: 0.9ex 0 0.9ex 0;
	width: 18.4%;
	max-width: 12.0ex;
}

svg.msf {
	width: 98%;
	max-width: 50ex;
	background-color: #c0c0c040;
}

p.msf {
	margin: 1.1ex 0 1ex 0.5ex;
}

label.msf {
	margin: 0.1ex 0 0.1ex 0;
	padding: 0.4ex 0 0.4ex 0;
}

code.msf {
	opacity: 0.2;
}

cite.msf {
	display: block;
	width: 94%;
	max-width: 76ex;
	padding: 0.2ex 1ex 0 1ex;
	margin: 0.2ex 0 2ex 2ex;
}
