
/*
	Author: Lorenz Pullwitt <memorysurfer@lorenz-pullwitt.de>
	Copyright 2016-2021

	This file is part of MemorySurfer.

	MemorySurfer is free software; you can redistribute it and/or
	modify it under the terms of the GNU General Public License
	as published by the Free Software Foundation; either version 2
	of the License, or (at your option) any later version.

	This program is distributed in the hope that it will be useful,
	but WITHOUT ANY WARRANTY; without even the implied warranty of
	MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
	GNU General Public License for more details.

	You should have received a copy of the GNU General Public License
	along with this program; if not, you can find it here:
	https://www.gnu.org/licenses/old-licenses/gpl-2.0.html
*/

body {
	width: 100%;
	max-width: 80ex;
	margin: 0 auto 0 auto;
	overflow-y: scroll;
}

h1 {
	margin: 0;
	padding: 0;
	font-size: inherit;
	font-weight: bolder;
}

textarea {
	width: 98.5%;
	padding: 0;
	margin: 0 auto 0 auto;
}

div.msf_qa {
	width: 98%;
	padding: 0.5ex 0.2ex 0.5ex 0.2ex;
	margin: 0.3ex auto 0.3ex auto;
	border-width: 1px;
	border-style: solid;
	border-radius: 0.3ex;
	border-color: rgba(0, 0, 0, .25);
	min-height: 2.5em;
}

div.msf_txt {
	font-family: monospace;
	white-space: pre-wrap;
	overflow-wrap: break-word;
}

div.msf_hidden {
	background-color: #c0c0c040;
} 

ul {
	list-style-type: none;
	margin: 0 0 0 2ex;
	padding: 0;
}

td {
	min-width: 19ex;
}

td.msf_histogram {
	min-width: auto;
}

button.msf {
	font-size: larger;
	padding: 0.9ex 1.2ex 0.9ex 1.2ex;
	min-width: 10.0ex;
}

svg {
	width: 100%;
	max-width: 50ex;
}

p {
	margin: 1.1ex 0 1ex 0.5ex;
}

label {
	margin: 0.1ex 0 0.1ex 0;
	padding: 0.4ex 0 0.4ex 0;
}

input[type=submit] {
	padding: 1.0ex 1.5ex 1.0ex 1.5ex;
	min-width: 10.0ex;
}

code {
	opacity: 0.2;
}

cite {
	display: block;
	width: 94%;
	max-width: 76ex;
	padding: 0.2ex 1ex 0 1ex;
	margin: 0.2ex 0 2ex 2ex;
}
