
/*
	Author: Lorenz Pullwitt <memorysurfer@lorenz-pullwitt.de>
	Copyright 2016-2022

	ms.css (1.0.0.27) is part of MemorySurfer.

	MemorySurfer is free software; you can redistribute it and/or
	modify it under the terms of the GNU General Public License
	as published by the Free Software Foundation; either version 2
	of the License, or (at your option) any later version.

	This program is distributed in the hope that it will be useful,
	but WITHOUT ANY WARRANTY; without even the implied warranty of
	MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
	GNU General Public License for more details.

	You should have received a copy of the GNU General Public License
	along with this program; if not, you can find it here:
	https://www.gnu.org/licenses/old-licenses/gpl-2.0.html
*/

body#msf {
	width: 100%;
	max-width: 80ex;
	margin: 0 auto 0 auto;
	overflow-y: scroll;
}

h1.msf {
	margin: 0;
	padding: 0;
	font-size: inherit;
	font-weight: bolder;
}

div.msf-txtarea {
	margin: 4px 1px 4px 1px;
}

textarea.msf {
	margin: 0;
	box-sizing: border-box;
	width: 100%;
}

div.qa-html {
	padding: 0.5ex 0.2ex 0.5ex 0.2ex;
	margin: 1px;
	border-width: 1px;
	border-style: solid;
	border-radius: 0.3ex;
	border-color: rgba(0, 0, 0, .25);
	min-height: 2.5em;
}

div.qa-txt {
	padding: 0.5ex 0.2ex 0.5ex 0.2ex;
	margin: 1px;
	border-width: 1px;
	border-style: solid;
	border-radius: 0.3ex;
	border-color: rgba(0, 0, 0, .25);
	min-height: 2.5em;
	font-family: monospace;
	white-space: pre-wrap;
	overflow-wrap: break-word;
}

ul.msf {
	list-style-type: none;
	margin: 0 0 0 2ex;
	padding: 0;
}

td.msf-lvl {
	min-width: 19ex;
	padding: 2px;
}

td.msf-strength {
	min-width: auto;
}

div.msf-btns {
	display: flex;
	margin: 1px 0 1px 1px;
}

button.msf {
	padding: 0.9ex 0.8ex 0.9ex 0.8ex;
	max-width: 13.4ex;
	margin: 0 1px 0 0;
	flex-grow: 1;
	flex-shrink: 1;
}

span.msf-space {
	flex-grow: 1;
	flex-shrink: 1;
	flex-basis: 1px;
}

svg.msf {
	width: 98%;
	max-width: 50ex;
	background-color: #eee;
}

p.msf {
	margin: 1.1ex 0 1ex 0.5ex;
}

input[type=text].msf {
	max-width: 25em;
	min-width: 10em;
	flex-grow: 1;
	flex-shrink: 1;
}

label.msf-div {
	display: flex;
	margin: 0;
	padding: 0.9ex 0.8ex 0.9ex 1px;
}

label.msf-td {
	margin: 0;
	padding: 2px 0 2px 0;
}

code.msf {
	opacity: 0.2;
}

cite.msf {
	display: block;
	width: 94%;
	max-width: 76ex;
	padding: 0.2ex 1ex 0 1ex;
	margin: 0.2ex 0 2ex 2ex;
}

div.msf-anchor {
	position: relative;
}

div.msf-dlg {
	position: absolute;
	visibility: hidden;
	top: 60px;
	left: 17%;
	width: 66%;
	max-width: 50ex;
	padding: 0.5ex 0.5ex 0 0.5ex;
	background-color: #fff;
	border-width: 1px;
	border-style: solid;
	border-radius: 3px;
	border-color: #999;
}
